.owner-page-fab {
  background-color: #7A0019; /* Maroon */
  top: 400px;
  margin: 0 auto;
  display: block;
}

.viewer-page-fab {
  background-color: #7A0019; /* Maroon */
  top: 500px;
  margin: 0 auto;
  display: block;
}
