.owner-page-fab {
  background-color: #7A0019; /* Maroon */
  bottom: -400px;
  right: -550px;
  display: flex;
  justify-content: center;
}

.viewer-page-fab {
  background-color: #7A0019; /* Maroon */
  bottom: -500px;
  right: -486px;
  align-self: center;
}
