<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card class="home-card">
      This is a home page! It doesn't do anything!
    </mat-card>
  </div>
</div>

<button mat-fab class="owner-page-fab" matTooltip="Owner Page" routerLink="/notes/new">
  <mat-icon class="md-24" aria-label="Owner Page">Owner Page</mat-icon>
</button>

<button mat-raised-button class="viewer-page-fab" matTooltip="Viewer Page" routerLink="/notes/new">
  <mat-icon class="md-24" aria-label="Viewer Page">ViewerPage</mat-icon>
</button>

