<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <div fxLayout="row wrap" fxLayoutGap="10px">
    </div>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredNotes; else notesError">
    <!-- List view -->
    <mat-card>
    <mat-card-content>
      <mat-card-title class="note-list-title">Virtual Note</mat-card-title>
      <mat-list>
        <mat-nav-list class="viewer-page-nav">
          <mat-list-item *ngFor="let note of this.serverFilteredNotes">
            <h3 matLine class="note-owner-list">{{note.owner}}</h3>
            <p matLine class="note-body-list">{{note.body}}</p>
            <p matLine class="note-tag-list">{{note.tag}}</p>
          </mat-list-item>
          </mat-nav-list>
      </mat-list>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #notesError>
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="notes-error">
    <mat-error>
      There was a problem loading the post-its'. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again or start the server.
    </mat-error>
  </div>
</ng-template>
